section.breadcrums-filter.clearfix
    .container
        .wrap-container
            .filter-menu
                label.label-for-checkbox-filter(for="toggle-filter-menu" ) &#128064;
                input.checkbox-for-filter-menu#toggle-filter-menu(type="checkbox")
                ul.filter
                    li.filter-days
                        a(href="#") 7 days
                    li.filter-days.active
                        a(href="#") 30 days    
                    li.filter-days
                        a(href="#") 90 days    
                    li.filter-duration
                        a(href="#") Short   
                    li.filter-duration.active
                        a(href="#") Long 
            block breadcrums    


