section.player.clearfix
    .container
        .wrap-container
            .responsive-wrapper-iframe
                .h_iframe
                    img.ratio(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAQAAACRI2S5AAAAEElEQVR42mNkIAAYRxWAAQAG9gAKqv6+AwAAAABJRU5ErkJggg==")
                    //img.ratio(src="http://placehold.it/16x9")   
                    //img.ratio(src=require("../images/1x1-00000000.png"))
                    iframe(src="https://player.vimeo.com/video/63804657?badge=0&autopause=0&player_id=0" width="1280" height="720" frameborder="0" title="BOLES" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                    //-iframe(src="https://player.vimeo.com/video/209248444?badge=0&autopause=0&player_id=0" width="1920" height="1080" frameborder="0" title="Are YouLost In The World Like Me?" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                    //-iframe(src="https://player.vimeo.com/video/186044683?badge=0&autopause=0&player_id=0" width="1280" height="720" frameborder="0" title="lords of the chiken 8" webkitallowfullscreen mozallowfullscreen allowfullscreen)                     
                    //-iframe(src="https://player.vimeo.com/video/157835117?badge=0&autopause=0&player_id=0" width="640" height="480" frameborder="0" title="Magic Forest short" webkitallowfullscreen mozallowfullscreen allowfullscreen)

