li.account
    a.pointer-events-none(href="#")
        img(src=require("../../../images/account-logo.jpg"))        
li.log-in-out
    a(href="#")
        img(src=require("../../../images/log-out.png"))
        span.text Log Out

