footer.site-footer.clearfix
    .container
        .wrap-container
            ul.copyright
                li
                   span © 2017 copyright
            ul.connect
                li
                    a(href="") BondarenkoAlex on github.com
                    img(src=require("../../../images/account-logo.jpg"))