//- singin.pug
extends ../layouts/base.pug

//- account - pug/includes/header/index.pug
block breadcrums 
    include ../includes/breadcrums/subcategory.pug
block titleCategory
    include ../includes/main/category-title.pug
block categories
    include ../includes/main/category-content.pug
