//- singin.pug
extends ../layouts/base.pug

//- account - pug/includes/header/index.pug
block breadcrums 
    include ../includes/breadcrums/category.pug
block titleCategory
    include ../includes/main/category.pug
block categories
    include ../includes/main/category-sports.pug
