doctype html
html
    head
        //-link(rel="stylesheet" href="app.css")
    body
        ul
            li
                a(href="account.html") account.html 
            li
                a(href="account-index.html") account-index.html 
            li
                a(href="category.html") category.html
            li
                a(href="subcategory.html") subcategory.html
            li
                a(href="playlist.html") playlist.html
            li
                a(href="video-clip.html") video-clip.html


