$headerBackgroundColor: #3d4046;
//$logoBackgroundColor: blue;
$reduxColor: #6f51bf;
$categoryTextColor: #40545c;
$breadcrumsBackgroundColor: #f6f7f8;
$breadcrumsBackgroundColorOpen: #eaeaea;
$breadcrumsBorderColor: #d8dfe1;
$breadcrumsTextColor: #686868;
$menuBorderColor: #2a2c30;

$badgeBackgroundColor: #ff0000;

$searchBackgroundColor: #23262d;
$searchTextColor: #7f7f7f;
$videoPreviewDurationTextColor: rgba(23, 34, 35, .75)