@import './constants.scss';

footer.site-footer {
  background-color: $breadcrumsBackgroundColor;
  color: $breadcrumsTextColor;
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  ul {
    li {
      list-style: none;
      padding: 14px 0;
    }
    a {
      color: $breadcrumsTextColor;
    }
  }
  ul.copyright {
    float: left;
    /*li {
      padding: 14px 0;
    }*/
  }
  ul.connect {
    float: right;
    li {
      a {
        text-decoration: none;
        outline: none;
        vertical-align: middle;
        /*padding: 6px 5px;*/
      }
      &:hover a {
        text-decoration: underline;
      }
      /*img {
        vertical-align: middle;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        margin: 4px 0;
      }*/
    }
  }
}