doctype html
html
  head 
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //-link(rel="stylesheet" href="app.css")
  body
    include ../includes/header/index.pug
    include ../includes/player/index.pug
    include ../includes/breadcrums/index.pug
    include ../includes/main/playlist-content.pug
    include ../includes/footer/index.pug